# Генерируется на каждой машине — добавляй принудительно: git add -f system/hardware.nix
# Не коммитить в общий репо — файл специфичен для каждого устройства
system/hardware.nix

result
result-*
.direnv/
